<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create a blog</title>
</head>
<body>
<h1>Create a new blog</h1>

<form action="/create/new" method="POST">
    <input type="text" name="author" placeholder="author">
    <input type="text" name="title" placeholder="title">
    <br><br>
    <textarea name="body" placeholder="body" rows="10" cols="50"></textarea>
    <button>Submit</button>
</form>
</body>
</html>