
<!DOCTYPE html>

<html>
<head>
<title>Mikes | Homepage</title>


<!-- responsive webpage requires, viewport, content attribute -->
<meta charset="utf-8">


<meta name="description" content="Blog Site for Mike">
<meta name="keywords" content="web design, mike webpage, blog">
<meta name="author" content="Mike">

<link rel="stylesheet"  type = "text/css" href = "homePageStyle.css">

<!-- JS -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header>

  <div class= "container">
    <div id="homepage">
    <!--  <input type="file" id="mikesBlog"> -->
      <!-- add id "btnBlogs when you know how to code the js" -->
      <h1 style="margin: 8px 0 0 25px"><button class="button blogBtn" >blogs |</button></h1>

    </div>

    </div>
  </header>
  <!--  the image after the nav bar -->
  <section id="blogHeader">
    <div class="container">
      <h1><center><img src="Mikes Media/whiteLogo6.png" align="middle"></center></h1>
      <p></p>
    </div>
  </section>
  <!-- end image after nav -->
  <div class="search-box">
    <input class="search-txt" type="text" name="" placeholder="Search for Blogs...">
    <a class= "search-btn" href="#"></a>
    <i id="searchIcon" class="fa fa-search" style="font-size: 1.60em; transform: translate(135%, 30%); color: white"></i>

  </div>
   <!---START DISPLAYING BLOGS HERE ---------------------------------->
        <div class="content pure-u-1 pure-u-md-3-4">
            <div class="posts" id="posts">
                <% blogsVar.forEach(function(blog){ %>
                <section class="post">
                    <header class="post-header">
                        <h2 class="post-title">
                            <%=blog.title%>
                        </h2>
                    </header>
                    <div class="post-description">
                        <p>
                            <%=blog.body%>
                        </p>
                    </div>
                </section>
                <%});%>
            </div>
        </div>
        <!---END DISPLAY BLOGS HERE----------------------------->
    </body>

</html>
