<!-- blog page when user clicks blog paragprah on slider -->
<!-- Judi's Login Page -->
<html>
  <head>
<meta name="description" content="Blog Site for Judi">
<meta name="keywords" content="web design, Judi's webpage, blog">
<meta name="author" content="Judi">

<link rel="stylesheet" href="../public/css/jquery.mobile-1.3.1.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="scripts/jquery-1.8.3.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="judisSingleBlogDisplay.css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blog | Judi</title>
  </head>

<body>
<div class="logoContainer">
  <div class="centered" style="width: 100%">

    <!-------------------------- HEADER HERE ------------------------------>
     <!-- lets put the navbar in the header tag -->
     <!-- create a div container to keep elements in the middle to prevent them from
     shifting to the edge of the webpage -->
     <!-- begin navbar -->
     <style>
     /*NAVBAR*/
header {
  background: black;
  color: white;
  min-height: 10%;
  overflow-x: hidden;

  /* bleeds the header*/
  margin: -20px -60px 0px -20px;
  transform: translateY(-120px);


}
body {
  overflow-x: hidden;
}

.paragraph-container {
 width: 70%;
 height: 50%;
 box-sizing: border-box;
 background: #E8E8E8;
 border-radius: 30px;
 margin-bottom: 10px;
 border: 1px solid;
 padding: 10px;
 box-shadow: 2px 5px 10px #888888;
}
     </style>

     <header>
       <div class= "container">
         <div id="homepage">
         </div>
         <!--nav-->
       </div>
     </header>
     <!-- end nav bar -->

</div>
</div>

<!-- insert blog in a box  -->
<!-- insert title, below title insert paragraph -->
<!--This is where you will call the blogs to be displayed -->
  <div class="post-wrapper">
    <!--this is the class called in the inline js above---->

    <!---insert blog div here--->
    <div class="posts" id="posts">
      <section class="post">

          <h2 class="post-title" style="font-size: 50px;"><%=blog.title%></h2>

        <div class="post-description">
          <center>
            <div class="paragraph-container">
              <p><%=blog.body%></p>
        </div>
      </center>

        </div>
        <a href="/judi/<%=blog._id%>/edit">Update Blog</a>
        <form action="/judi/<%=blog._id%>?_method=DELETE" method="POST">
          <br><input type="submit" value="Delete Blog">
        </form>
      </section>
    </div>

  </div>

</body>
</html>

