<!DOCTYPE html>

<html>
<head>
	<!--- responsive webpage requires, viewport, content attribute -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Blog Site for Mike">
	<meta name="keywords" content="web design, judi's webpage, blog">
	<meta name="author" content="Mike">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="css/launcher.css" />

	<title>Splash Page</title>
</head>


<body>

	<!-- HEADER HERE -->
	<!-- lets put the navbar in the header tag -->
<div class="header"></div>
    
<div class="split left">
	<div class="centered">
	<!-- BIRDS AND LOGO -->
		<div class="containerBirds">
			<div class="bird-container bird-container--one">
				<div class="bird bird--one"></div>
			</div>
			<div class="bird-container bird-container--two">
				<div class="bird bird--two"></div>
			</div>
			<div class="bird-container bird-container--three">
				<div class="bird bird--three"></div>
			</div>
			<div class="bird-container bird-container--four">
				<div class="bird bird--four"></div>
			</div>
		</div>

		<!--MIKES LOGO HERE -->
		<!-- now we want to place the large judi logo in a section tag seperate from the header -->
		<div id="landingPageLogo">
			<img src="Mikes Media/mikesLogo5.png" alt="mike" class="mikeLogo" style ="width: 90%;" >
		</div>
	</div>
	<!--ENTER BUTTON HERE -->
    <div class="enterBtn">
        <a href="/blogs">
            <button type="button" class="btn" id="myInput">Enter</button>
        </a>
    </div>
</div>

<div class="split right">
    <div class="centered">
		<!-- BIRDS AND LOGO -->
		<div class="containerBirds">
			<div class="bird-container bird-container--one">
				<div class="bird bird--one"></div>
			</div>
			<div class="bird-container bird-container--two">
				<div class="bird bird--two"></div>
			</div>
			<div class="bird-container bird-container--three">
				<div class="bird bird--three"></div>
			</div>
			<div class="bird-container bird-container--four">
				<div class="bird bird--four"></div>
			</div>
		</div>

		<!-- START JUDI LOGO HERE -->
		<!-- now we want to place the large judi logo in a section tag seperate from the header -->
		<section id="JudisLandingPageLogo">
			<!-- because we want the logo to be in the center, place the logo in a div container -->
			<div class="container">
				<img src="Judis Media/judiLogo.png" alt="judi" class="judiLogo" style ="width: 100%;" >
			</div>
		</section>
	</div>
	<!-- ENTER BUTTON HERE -->
    <div class="judisEnterBtn">
        <a href="/jblogs">
            <button type="button" class="judisBtn" id="myInput">Enter</button>
        </a>
    </div>	
</div>

<!-- CREATE POST BUTTON HERE -->
<footer>
	<div class="makePostBtn">
		<a href="/quickWriter">
			<button type="button" class="postBtn" id="myInput">Create a Post</button>
		</a>
	</div>
</footer>
</body>
</html>