<!-- Blog Page --->
<!-- Mike Login Page -->
<html>
  <head>
    <!--- responsive webpage requires, viewport, content attribute -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Blog Site for Mike">
    <meta name="keywords" content="web design, jud's webpage, blog">
    <meta name="author" content="Mike">

    <link rel="stylesheet"  type = "text/css" href = "/css/mikesFilesPage.css" />
    <!-- jquery library added to fix "$ not defined" error -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    function publish(){
    var publishedBtn = document.getElementById("myonoffswitch");
    var blogId = document.getElementById('blogId').innerHTML;
    blogId = JSON.parse(blogId);
    if(publishedBtn.checked) {
      published = true;
    } else {
      published = false;
    }
    published = encodeURIComponent(published);
    data = 'published=' + published;
    var xhttp = new XMLHttpRequest();
    xhttp.open('put', '/michael/' + blogId, true);
    xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhttp.send(data);
   }
   </script>

    <title>Files | Mike</title>
  </head>
<body>
<div class="logoContainer">
  <div class="centered" style="width: 100%">

    <!-------------------------- HEADER HERE ------------------------------>

     <!-- begin navbar -->
     <header>
     <div class= "container">
  <div id="homepage">
    <h1 style="margin: 8px 0 0 25px">
      <a href="/michael"><button class="button blogBtn" >blogs |</button></a>
    </h1>
  </div>

  </div>
     </header>
     <!----------------- end nav bar -------------------------------------->

             <!----- File Font above files retrieved from server side --->
           <center>
             <h2 style="font-size: 60px;font-weight: normal">FILES</h2></br></br>
           </center>
             <!--- end file font ------->
						 
						 <!--- New button to create new story, so the new button will link to quick writer-->
<div class="newBtnPosition">
<a href ="/michaelswriter"><button type="button" class="newBtn">New Blog</button></a>
</div>
<!---------  End new button --------->

<% blogsVar.forEach(function(blog){ %>
<center>
  <div class="buttonContainer">
  <br>
  <div class ="fileBtn">

        <!-- delete btn -->         
        <form action="/michael/<%=blog._id%>?_method=DELETE" method="POST">
        <input type="submit" class="deleteBtn" value="Delete"
        onclick="return confirm('Are you sure you want to delete this file?');">
        </form>
         <a href="/michael/<%=blog._id%>" style="text-decoration: none;">
         <p style="float:center; font-size: 40%">
           <%=blog.title%>
         </p>
        </a>
        <span id="blogId" hidden><%= JSON.stringify(blog._id);%></span>

      <div class="toggleBtn">
        <div class="onoffswitch">
          <%if(blog.published == true){%>
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked onclick="publish()">
          <label class="onoffswitch-label" for="myonoffswitch"></label>
          <%} else{%>
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" unchecked onclick="publish()">
          <label class="onoffswitch-label" for="myonoffswitch"></label>
          <%};%>
        </div>
      </div>
  </div>

</div>
</center>
<%});%>



  </div>

  </div>
</div>

</body>
</html>
