<!DOCTYPE html>
<head>
    <title>Writer | Start Your Story</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/assets/dcode.css">
    <link rel="stylesheet" href="css/quickWriter.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <!----Mikes Logo----->
    <img src="Writer Media/quickWriter.png" alt="logo" width="10%">
    <!--"content" format edges of the screen-->
    <div data-role="content">


      <!--Text box (textarea allows the box to expand)-->
      <!-- <p contenteditable="true" placeholder="Title Your Story..." id="userTitle"
      class="titleHeader" style="transform: translateY(-30%);">Title Your Story...</p> -->
      <center><input id="title" onclick="checkField(0)" placeholder="Enter Title"
         autofocus style="transform: translateY(-60%);height:30px; font-size: 30px;">
      <input id="author" placeholder="Author"
      autofocus style="transform: translateY(-60%);height:30px; font-size: 15px;">
    </center>
    <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div id="textBox">
        <!--here i changed the class from your textArea to use-keyboard-input
        which is in the quickWriter.js file-->
        <textarea placeholder="Share Your Story..." class="use-keyboard-input"
        onclick="checkField(1)"  id="userText"></textarea>
      </div>




    <script src="/scripts/quickWriterScript.js"></script>
</body>
