header{
  text-align:center; 
}
body{
  margin:0px;
}
#logo{
  content:url("../Writer Media/quickWriter.png");
  display:block;
  width:10%;
  max-width:400px;
  float:left;
}
#title{
  height:2.5rem;
  font-size: 2.5rem;
  margin:10px 5px 0px 5px;
}
#author{
  height:2.5rem; 
  width:8em;
  font-size: 2.5rem;
  margin:10px 5px 0px 5px;
}
.keyboard {
  position: absolute;
  text-align:center;
  bottom:0;
  width: 100%;
  padding: 5px 0 0 0;
  background: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
}
.keyboard__keys{
  position:relative;
  margin-bottom:1.5rem;
}
.keyboard__key {
  position: relative;
  display: inline-block;
  
  min-width:2.5rem;
  width: 6vw;
  max-width: 10vh;
  
  min-height:2.5rem;
  height:6vh;
  max-height:7.5rem;
  
  /*change btn sizes*/
  margin: 2px;
  border-radius: 4px;
  border: none;
  background: #7F2B29;
  color: #ffffff;
  /*changeg text size on buttons*/
  font-size: 2.5rem;
  outline: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}
.keyboard__key--wide {
  min-width:calc(5rem + 4px);
  width: calc(12vw + 4px);
  max-width: calc(20vh + 4px);
}
.keyboard__key--extra-wide {
  min-width:calc(15rem + 20px);
  width: calc(36vw + 20px);
  max-width: calc(60vh + 20px);
}
.keyboard__key--predict-wide {
  min-width:calc(9rem + 12px);
  width: calc(21vw + 12px);
  max-width: calc(36vh + 12px);
}

.keyboard__key:active {
  background: yellow;
  color: black;
}
.keyboard__key:hover {
  transform: scale(1.4);
  background: gold;
  color:black;
  z-index: 1;
  position: relative;
  font-size: 3rem;
  overflow-y: hidden;
}
.keyboard__key--activatable::after {
  content: '';
  top: 10px;
  right: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.keyboard__key--active::after {
  background: #08ff00;
}
.keyboard__key--dark {
  background: rgba(0, 0, 0, 0.25);
}
.material-icon {
  width: 50%;
}
.use-keyboard-input {
  resize:none;
  position: relative;
  width: calc(100% - 28px);
  height: calc(90vh - 45px - 16.5rem);
  min-height:3rem;
  margin:10px;
  padding:2px;
  border: solid 2px black;
  outline:none;
  font-size: 2.5rem;
}
::placeholder {
  font-size: 2.5rem;
}
